@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Componentes da Equipe    <br />
    <li>Julio César Bessa Monqueiro - 1868403</li>
    <li>Renato dos Reis Ferrreira  - 1883707</li>
    <li>Roberto W. S. dos Santos Junior - 1874899</li>

</p>
