@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Sistema de Gerenciamento de Tarefas</h1>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Tarefas Vencidas</h2>
        <p>
            @*<iframe src="~/Support/Expired.aspx" scrolling="no" width="400px" height="260px" frameborder="0"> </iframe>*@

   Existem

    Tarefas Vencidas
    </p>
</div>
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p></p>

    </div>
    <div class="col-md-4">
        <h2>Adicionar Novas Tarefas</h2>
        <p>
        </p>
        <p><asp:a class="btn btn-default"><a href="~/Support/Add.aspx">Adicionar &raquo;</a></asp:a></p>

    </div>
</div>


